@import 'normalize.css';
@import "bulma/css/bulma.min.css";

:root {
  --titles: 'Ibarra Real Nova', serif;
  --content: 'helvetica neue', helvetica, arial, sans-serif;
  --primary-peri-winkle: rgb(169, 175, 209);
  --secondary-cool-gray: rgb(125, 129, 155);
	--secondary--payne-gray: rgb(87, 96, 118);
  --tertiary-charcoal: rgb(49, 62, 80);
	--accent-dark-ultra-violet: rgb(79, 81, 125);
	--accent-tropical-indigo: rgb(169, 151, 223);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titles);
}

p, span, li, a, button {
  font-family: var(--content);
}

/* struct */
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
    height: 100vh;
		background-color: var(--tertiary-charcoal);
		/* overflow: hidden; */
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer/afficher les éléments  */

	.u-mobile {          display: block;          display: revert !important; /* affichage des éléments */        }        .u-no-mobile {          display: none !important; /* masquage des éléments */        }
	
	/* Un message personnalisé */

	/* body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	} */
}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}

/* content styles */
.navigation {
	width: 100vw;
  min-height: 5%;
  background-color: var(--accent-dark-ultra-violet);
	overflow: hidden;
}
.main {
  min-height: 92%;
  background-color: transparent;
}
.footer {
	width: 100vw;
  min-height: 3%;
  background-color: var(--accent-dark-ultra-violet);
	overflow: hidden;
}