@import 'normalize.css';
@import "bulma/css/bulma.min.css";

/* https: //marella.github.io/material-design-icons/demo/font/ */
@import '@material-design-icons/font';

:root {
  --titles: 'Alegreya', serif;
  --content: 'Raleway', helvetica, arial, sans-serif;
	--primary-blue-tang: #5959a6;
	--secondary-larkspur: #3d818f;
	--tertiary-chelsea-cucumber: #8ca659;
	--accent-bonbon-red: #8f3d65;
	--accent-byzantium: #732665;
	--font-small: 1rem;
	--font-medium: 1.5rem;
	--font-large: 2rem;
	--font-extra-large: 3rem;
	--lh-smmall: calc(var(--font-small) * 1.2);
	--lh-medium: calc(var(--font-medium) * 1.2);
	--lh-large: calc(var(--font-large) * 1.2);
	--lh-extra-large: calc(var(--font-extra-large) * 1.2);
	/* redefining Bulma basics */
	--bulma-primary-h: 209.61deg;
	--bulma-primary-s: 50.33%;
	--bulma-primary-l: 30%;
}

/* struct */
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
    height: 100vh;
		background-color: var(--tertiary-chelsea-cucumber);
		/* overflow: hidden; */
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer/afficher les éléments  */

	.u-mobile {          display: block;          display: revert !important; /* affichage des éléments */        }        .u-no-mobile {          display: none !important; /* masquage des éléments */        }
	
	/* Un message personnalisé */

	/* body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	} */
}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}

/* content styles */
.navigation {
	width: 100vw;
  min-height: 5%;
  background-color: var(--accent-byzantium);
	overflow: hidden;
}
.main {
  min-height: 92%;
  background-color: transparent;
}
.footer {
	width: 100vw;
  min-height: 3%;
  background-color: var(--accent-byzantium);
	overflow: hidden;
}

/* article styles */
.article-title_small {
	font-size: var(--font-small);
	line-height: var(--lh-smmall);
}
.article-title_medium {
	font-size: var(--font-medium);
	line-height: var(--lh-medium);
}
.article-title_large {
	font-size: var(--font-large);
	line-height: var(--lh-large);
}
.article-title_extra-large {
	font-size: var(--font-extra-large);
	line-height: var(--lh-extra-large);
}
.article-title_white {
	color: var(--primary-blue-tang);
}
.article-title_black {
	color: var(--tertiary-chelsea-cucumber);
}
.article-title_primary {
	color: var(--accent-bonbon-red);
}
.article-title_secondary {
	color: var(--accent-byzantium);
}
