name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        env:
          AUTH0_DOMAIN: ${{secrets.AUTH0_DOMAIN}}
          AUTH0_CLIENT_ID: ${{secrets.AUTH0_CLIENT_ID}}
          AUTH0_CLIENT_SECRET: ${{secrets.AUTH0_CLIENT_SECRET}}
          AUTH0_SECRET: ${{secrets.AUTH0_SECRET}}
          NEXT_PUBLIC_ARTICLES_TABLE: ${{ vars.NEXT_PUBLIC_ARTICLES_TABLE }}
          NEXT_PUBLIC_SLUGS_TABLE: ${{ vars.NEXT_PUBLIC_SLUGS_TABLE }}
          NEXT_PUBLIC_SUPABASE_URL: ${{ vars.NEXT_PUBLIC_SUPABASE_URL }}
          NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY: ${{ vars.NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY }}
          SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
          APP_BASE_URL: ${{vars.APP_BASE_URL}}
          NEXT_PUBLIC_DEFAULT_PAGE: ${{vars.NEXT_PUBLIC_DEFAULT_PAGE}}
          NEXT_PUBLIC_DEFAULT_LIMIT: ${{vars.NEXT_PUBLIC_DEFAULT_LIMIT}}
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
